__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz/
.vscode/
*.sublime-workspace
*.idea/
*.pydevproject
*.pyt
*.DS_Store
venv/
env/
.pipenv
secrets.json
config.ini
*.env
*.key
*.pem
*.p12
*.password
test.py
test1.py
test2.py
test3.py
test4.py
scraper_log.log

